<h1><%= @line.name %></h1>
<h3>Associated Stations:</h3>
  <ul>
    <% @line.stations.each do |station| %>
      <li><%= station.name %></li>
    <% end %>
  </ul>
<p>
  <%= link_to "Edit line", edit_line_path(@line), class: 'btn btn-info' %>
</p>

<p>
  <%= link_to "Delete line", line_path(@line),
                                class: 'btn btn-danger',
                                data: {confirm: 'Woah, really?', method: 'delete'} %>
</p>
