<% content_for(:title, "New Station | Timetables") %>
<h1>Station Master</h1>
<ul>
  <% @stations.each do |station| %>
    <li><%= link_to "#{station.name}", station_path(station.id) %></li>
  <% end %>
</ul>
<h1>Add a new station</h1>

<%= render('layouts/errors', object: @station) %>
<%= render 'station_form' %>
