<% content_for(:title, "New Stop | Timetables") %>
<h1>Stop Master</h1>
<ul>
  <% sorted_stops = @stops.sort { |stop1, stop2| stop1.line_id <=> stop2.line_id } %>
  <% sorted_stops.each do |stop| %>
    <li><%= link_to "#{stop.line.name}@#{stop.station.name}", stop_path(stop.id) %></li>
  <% end %>
</ul>
<h1>Add a new stop</h1>

<%= render('layouts/errors', object: @stop) %>
<%= render('stops/input_form') %>
